.title-screen__left {
  max-width: 722px;
  z-index: 10;
}

.main-title {
  position: relative;
  font-size: 35px;
  line-height: 130%;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.title-screen__text {
  font-family: $fontMain;
}

.main-title__stroke-panel {
  transform: translate(-57px, -5px) rotate(-7.69deg);
}
